@model List<GIGI.Models.Artist>
@{
    ViewBag.Title = "Busca de Artistas - Last.fm";
}

<h2>Buscar Artista no Last.fm</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="text" name="artistName" placeholder="Digite o nome do artista" required />
    <input type="submit" value="Buscar" />
}

@if (Model != null && Model.Any())
{
    <h3>Resultados:</h3>
    <ul>
        @foreach (var artist in Model)
        {
            <li>
                <img src="@artist.ImageUrl" width="64" />
                <a href="@artist.Url" target="_blank">@artist.Name</a>
            </li>
        }
    </ul>
}
